@sheet : #eeeeee;
@page : #dfdfdf;
@text : #222222;
@highlightText : #444444;

body {
  background-color: @page;
  color: @text;
}
[contenteditable]:focus {
  outline: none;
}
.bullet, i[class^="icon-"], #addChild {
  cursor: pointer;
}
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.drop-shadow ( @color: #888 ){
  box-shadow: 5px 5px 10px @color;
}


#notebook {
  .rounded-corners;
  .drop-shadow;
  background-color: @sheet;
  color: @text;
  margin: 20px auto;
  width: 800px;
  min-height: 600px;
  
  #breadcrumbs {
    margin: 0 1em 0 1em;
    padding: 1em 0 .5em 0;
    border-bottom: solid 1px grey;
    a, a:visited, a:active{
      text-decoration: none;
      color: @text;
    }
    a:hover {
      color: @highlightText;
      text-decoration: underline;
    }
    .gt:first-child {
      display: none;
    }
  }
  #sheet {
    padding: 1em;
    #topNotes {
      margin-bottom: 1em;
    }
    #topChildren {
      margin-left: 0;
      margin-right: 0;
      border-left: none;
    }
  }
  #addChild {
    opacity: 0.5;
  }
  #addChild:hover {
    opacity: 1;
  }

}

.context-menu {
  font-size: 80%;
  hr {
    margin: 0;
    height: 0;
    border: none;
    border-top: solid 1px;
    
  }
}
  