/* https://kuler.adobe.com/#themeID/2369524 */
@bright    : #FFFFFF;
@dark      : #333333;
@alert     : #FC226F;
@highlight : #00D0FF;
@info      : #FFC604;
@shadow    : #888888;

@maxScreenWidthForMobile : 480px;

/* function declarations */

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.drop-shadow ( @color: @shadow ){
  box-shadow: 0px 0px 10px @color;
}
.fit-width ( @width: 800px, @min: 200px, @max: 90% ){
  width: @width;
  min-width: @min;
  max-width: @max;
  margin: 0 auto;
}

/* body and general declarations */

body {
  background-color: darken( @bright, 10% );
  color: @dark;
  overflow: hidden;
}
a {
  color : @dark;
  text-decoration: underline;
  &:hover {
    color: @highlight;
  }
}

.notes table {
  width: 100%;
  border: solid 1px darken( @bright, 10% );
  td, th {
    vertical-align: top;
    text-align: left;
    padding: 0.2em 1em;
  }
}


[contenteditable]:focus {
  outline: none;
  background: darken( @bright, 10% );
}
.bullet, i[class^="icon-"], .addChild {
  cursor: pointer;
}
.bullet, i[class^="icon-"] {
  opacity: 0.7;
}
.bullet:hover, i[class^="icon-"]:hover {
  opacity: 1;
}
i[class^="icon-"]:hover {
  color: @highlight;
}
li i[class^="icon-"]{
  display: inline-block;
  width: 1em;
  text-align: center;
  margin-right: .2em;
}

/* fontawesome fix for checkboxes */
i[class^="icon-check"]:before{
  display: inline-block;
  text-align: left;
  width: .7em;
}

/* header */

#fixedTopCentered {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  .alert, .note, {
    .rounded-corners;
    .drop-shadow;
    padding: .5em;
    .fit-width( 600px, 200px, 80% )
  }
  .alert {
    background: @alert;
    color: @dark;
  }
  .note {
    background: @highlight;
    color: @dark;
  }
  
  .alert .icon-remove, .note .icon-remove {
    float: right;
  }
  
  /* search and selected options */
  
  #search, #selectOptions {
    .rounded-corners;
    .drop-shadow;
    .fit-width;
    background: @bright;
    margin: .5em auto;
    overflow: hidden;
    position: relative;
    padding-bottom: .5em;
    > div {
      padding: .5em 1em 0 1em;
      input {
        display: inline-block;
        padding: 0em 1em 0 1.5em;    
        width: 100%;
        outline: none!important;
        border: none;
      }
    }
    i:hover {
      color: @highlight;
    }
    a {
      text-decoration: none;
    }
  }
  #selectOptions {
    background: @highlight;
    > div {
      padding: .5em 1em 0 1em;
      .options {
        float: right;
      }
    }
    i:hover, i:active{
      color: @bright;
    }
    .selectedMobile {
      display: none;
    }
  }
  #search {
    > div{
      i {
        position: absolute;
        top: .5em;
        display: inline-block;
        width: 1em;
        text-align: center;
      }
      .icon-search {
        left: 1em;
      }
      .icon-ellipsis-vertical {
        right: 1em;
      }
      .icon-star {
        right: 2.5em;  
      }
      .icon-tags {
        right: 4em;
      }
      /* switch the magnifying glass for a cross */
      &:hover .icon-search:before {
        content: "\f00d";
      }
    }
    > ul {
      display: none;
      list-style-type: none;
      text-align: right;
      padding: 0 1em;
      margin: .5em 0 0 0;
      &:empty:after {
        content: 'nothing to see here ...';
        opacity: 0.5;
      }
      li {
        cursor: pointer;
        a i {
          margin-left: .5em;
        }
        .icon-pencil, .icon-trash, .icon-star-half-full {
          float: left;
        }
      }
      li:hover {
        color: @highlight;
      }
      .icon-tag {
        .rounded-corners( 0 );
        padding: 0;
      }
      &#specialPages {
        a{
          display: block;
        }
      }
    }
  }
}

.icon-tag:not(:empty) {
  .rounded-corners;
  padding: 0 .4em;
  &:before {
    font-size: 80%;
  }
}

/* notebook */

#notebook {
  .rounded-corners;
  .drop-shadow;
  .fit-width;
  background-color: @bright;
  color: @dark;
  margin: 3.3em auto 2em auto;
  min-height: 400px;
  
  #topActions {
    margin-top: .5em;
    margin-right: 1.8em;
    margin-bottom: -.5em;
    text-align: right;
    i:before {
      margin-right: .2em;
    }
  }
  
  #breadcrumbs {
    margin: 0 2em;
    padding: 1em 0 .5em 0;
    border-bottom: solid 1px grey;
    a, a:visited, a:active{
      text-decoration: none;
      color: @dark;
      opacity: 0.7;
    }
    a:hover {
      text-decoration: underline;
      opacity: 1;
    }
    .gt:first-child {
      display: none;
    }
  }
  #sheet {
    padding: 1em 2em;
    h1 {
      font-size: 1.5em;
      margin: 0;
    }
    .topNotes {
      margin-bottom: 1em;
      padding-bottom: 1em;
      font-size: 100%;
    }
    .topChildren {
      margin-left: 0;
      margin-right: 0;
      border-left: none;
      &:not(.readonly) {
        margin-left: -1em;
      }
    }
  }
  .addChild {
    margin-left: 1.25em;
    opacity: 0.5;
  }
  .addChild:hover {
    opacity: 1;
  }

}
  
#footer {
  .fit-width;
  text-align: center;
  font-size: 80%;
  margin-bottom: 1em;
}

#curtain {
  z-index: 999;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  > div {
    position: relative;
    top: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    left: 50%;
  }
}

#tagsMenu {
  .drop-shadow;
  .rounded-corners;
  display: none;
  font-size: 90%;
  top: 0;
  left: 0;
  position: absolute;
  padding: .3em;
  background-color : @bright;
  overflow: hidden;
  i {
    white-space: nowrap;
    &:hover {
      color: white;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    cursor: pointer;
    padding: 0 .5em;
  }
  li:first-child {
    padding-top: .1em;
  }
  li:last-child {
    padding-bottom: .1em;
  }
  li:hover {
    background-color: @highlight;
  }
  input {
    padding: 0;
    outline: none;
    border: none;
    border-bottom: solid 1px lighten(@dark,50%);
  }
}

.options ul, ul.options {
  list-style-type: none;
}
