@media only screen and (max-width: 480px) {
  i[class^="icon-"]{
    font-size: 110%;
  }
  .node {
    .body {
      .headline {
        .open {
          display: none;
        }
        table td.action-td .info i.icon-time {
          display: none;
          &[title^=in]{
            display: inline-block;
            overflow: hidden;
            max-width: 1em; 
          }
        }
        .actionsBar {
          .icon-tag.addTag {
            display: none;
          }
          i.icon-check-empty {
            visibility: visible;
          }
        }
        .plus-td {
          display: none;
        }
      }
    }
  }
  #selectOptions {
    font-size: 150%;
    .selectedDesktop {
      display: none;
    }
    .selectedMobile {
      display: inline-block;
    }

  }
  #tagsMenu {
    top: 20%!important;
    left: 50%!important;
    margin-left: -100px!important;
    box-shadow: 0 0 50px @shadow;
  }
}