@media only screen and (max-width: 480px) {
  i[class^="icon-"]{
    font-size: 110%;
  }
  .actions {
    display: none!important;
  }
  .headline {
    .open {
      display: none;
    }
    .actionsBar {
      .tag {
        padding: 0 0 0 .4em;
        span {
          display: none;
        }
      }
      .icon-star-empty, .icon-check-empty, .info > .tag {
        visibility: visible!important;
      }
    }
  }
}