@media only screen and (max-width: 480px) {
  i[class^="icon-"]{
    font-size: 110%;
  }
  .actions {
    display: none!important;
  }
  .headline {
    .open {
      display: none;
    }
    .actionsBar {
      .addTag {
        display: none;
      }
      .tag {
        padding: 0 0 0 .4em;
        span {
          display: none;
        }
      }
      .icon-star-empty, .icon-check-empty, .info > .tag {
        visibility: visible!important;
      }
    }
    .plus-td {
      display: none;
    }
  }
  #selectOptions {
    .options {
      i {
        font-size: 150%;
      }
    }

  }
  #tagsMenu {
    top: 20%!important;
    left: 50%!important;
    margin-left: -100px!important;
    box-shadow: 0 0 50px @shadow;
  }
}