@childrenBorderColor: #ddd;
@text : #222222;

.node {
  > .body {
    > .headline {
      .title:not(:focus):empty:before {
        content: "write something";
        opacity: 0.5;
      }
    }
    > .notes {
      margin-left: .5em;
      padding-left: .5em;
      font-size: 80%;
      color: lighten( @text, 50% );
    }  
  }
  > .children {
    margin-left: .5em;
    padding-left: .5em;
    border-left: solid 1px @childrenBorderColor;
  
  }
}