.node {
  margin-bottom: .5em;
  > .body {
    &:hover {
      background: darken( @bright, 5% );
    }
    &.active {
      background: darken( @bright, 10% );
    }
    &:hover .action-td, &.active .action-td {
      .actionsBar {
        .info, .actions, .icon-check-empty, .icon-star-empty {
          display: inline-block;
          visibility: visible;
        }
        .info > .tag {
          visibility: visible;
          opacity: .5;
          &:hover {
            opacity: 1;            
          }
          i {
            opacity: 1;
          }
        }
      }
    }
    &:hover .headline .plus-td {
      opacity: 1;
    }
    > .headline {
      .info > .tag {
          visibility: hidden;
      } 
      > table {
        width: 100%;
        td {
          vertical-align: top;
          padding: 0;
        }
      }
      .bullet-td, .plus-td{
        width: 1em;
        text-align: center;
      }
      .plus-td {
        opacity: 0;
        cursor: pointer;
      }
      .listType-td{
        width: 1px;
      }
      .action-td {
        text-align:right;
        white-space: nowrap;
        padding-left: 1em;
        width: 1px;
        
        .icon-check-empty, .icon-star-empty {
          visibility: hidden;
        }
      }
      .title-td {
        word-break: break-word;
        padding-left: .5em;
        .open {          
          font-size: 80%;
          margin-left: 1em;
          text-decoration: none;
          opacity: .5;
          cursor: pointer;
          &:hover {
            color: @highlight;
          }
        }
      }
    }
    .title:not(:focus):empty:before {
      content: "write something";
      opacity: 0.5;
    }
    .notes > div {
      font-size: 80%;
      padding-left: 1.3em;
      color: lighten( @dark, 20% );
    }  
    .notes>div:not(:focus):empty:before {
      content: "add some details";
      opacity: 0.5;
    }
  }
  > div.childrenOuter, .notes {
    padding-top: .5em;
    margin-left: 1.5em;
    border-left: solid 1px lighten( @dark, 70% );
    .addChild {
      font-size: 90%;
      margin-left: .3em;
    }
  }
  .topNotes {
    border: none;
    margin-left: 0;
    padding-left: 0;
    > div {
      padding-left: 0;
    }
  }
}
.bullet {
  color: @dark;
}
.bullet.full {
  border-radius: .5em;
  background: lighten( @dark, 70% );
  width: 1em;
  text-align: center;
  height: 1em;
  display: inline-block;
  line-height: 1em;
}
.bullet.full.open {
  background: lighten( @dark, 50% );
}