/* https://kuler.adobe.com/#themeID/2369524 */
body {
  background-color: #e6e6e6;
  color: #333333;
  overflow: hidden;
}
a {
  color: #333333;
  text-decoration: underline;
}
a:hover {
  color: #00d0ff;
}
[contenteditable]:focus {
  outline: none;
}
.bullet,
i[class^="icon-"],
#addChild {
  cursor: pointer;
}
.bullet,
i[class^="icon-"] {
  opacity: 0.7;
}
.bullet:hover,
i[class^="icon-"]:hover {
  opacity: 1;
}
#fixedTopCentered {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
#fixedTopCentered .alert,
#fixedTopCentered .note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  width: 600px;
  min-width: 200px;
  max-width: 80%;
  margin: 0 auto;
}
#fixedTopCentered .alert {
  background: #fc226f;
  color: #333333;
}
#fixedTopCentered .note {
  background: #00d0ff;
  color: #333333;
}
#fixedTopCentered .alert .icon-remove,
#fixedTopCentered .note .icon-remove {
  float: right;
}
#search,
#selectOptions {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  width: 800px;
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
  background: #ffffff;
  margin: .5em auto;
  overflow: hidden;
  position: relative;
  padding-bottom: .5em;
}
#search > div,
#selectOptions > div {
  padding: .5em 1em 0 1em;
}
#search > div input,
#selectOptions > div input {
  display: inline-block;
  padding: 0em 1em 0 1.5em;
  width: 100%;
  outline: none!important;
  border: none;
}
#selectOptions {
  background: #00d0ff;
}
#selectOptions > div {
  padding: .5em 1em 0 1em;
}
#selectOptions > div .options {
  float: right;
}
#search > div {
  /* switch the magnifying glass for a cross */

}
#search > div i {
  position: absolute;
  top: .5em;
}
#search > div .icon-search {
  left: 1em;
}
#search > div .icon-cog {
  right: 1em;
}
#search > div .icon-star {
  right: 2.5em;
}
#search > div .icon-tags {
  right: 4em;
}
#search > div:hover .icon-search:before {
  content: "\f00d";
}
#search > ul {
  display: none;
  list-style-type: none;
  padding: 0 1em;
  margin: .5em 0 0 0;
}
#search > ul:empty:after {
  content: 'nothing to see here ...';
  opacity: 0.5;
}
#search > ul li {
  cursor: pointer;
}
#search > ul li:hover {
  color: #00d0ff;
}
#notebook {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  width: 800px;
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333333;
  margin: 3.3em auto 2em auto;
  min-height: 400px;
}
#notebook #topActions {
  float: right;
  margin-top: .5em;
  margin-right: 1em;
}
#notebook #breadcrumbs {
  margin: 0 1em 0 1em;
  padding: 1em 0 .5em 0;
  border-bottom: solid 1px grey;
}
#notebook #breadcrumbs a,
#notebook #breadcrumbs a:visited,
#notebook #breadcrumbs a:active {
  text-decoration: none;
  color: #333333;
  opacity: 0.7;
}
#notebook #breadcrumbs a:hover {
  text-decoration: underline;
  opacity: 1;
}
#notebook #breadcrumbs .gt:first-child {
  display: none;
}
#notebook #sheet {
  padding: 1em;
}
#notebook #sheet .topNotes {
  margin-bottom: 1em;
  font-size: 100%;
}
#notebook #sheet .topChildren {
  margin-left: 0;
  margin-right: 0;
  border-left: none;
}
#notebook #addChild {
  opacity: 0.5;
}
#notebook #addChild:hover {
  opacity: 1;
}
#footer {
  width: 800px;
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 80%;
  margin-bottom: 1em;
}
#curtain {
  z-index: 999;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
#curtain > div {
  position: relative;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  left: 50%;
}
.node > .body {
  margin-bottom: .5em;
}
.node > .body:hover {
  background: #f2f2f2;
}
.node > .body.active {
  background: #e6e6e6;
}
.node > .body:hover .action-td .actionsBar .info,
.node > .body.active .action-td .actionsBar .info,
.node > .body:hover .action-td .actionsBar .actions,
.node > .body.active .action-td .actionsBar .actions,
.node > .body:hover .action-td .actionsBar .icon-check-empty,
.node > .body.active .action-td .actionsBar .icon-check-empty,
.node > .body:hover .action-td .actionsBar .icon-star-empty,
.node > .body.active .action-td .actionsBar .icon-star-empty {
  display: inline-block;
  visibility: visible;
}
.node > .body:hover .action-td .actionsBar .info > .tag,
.node > .body.active .action-td .actionsBar .info > .tag {
  visibility: visible;
  opacity: .5;
}
.node > .body:hover .action-td .actionsBar .info > .tag:hover,
.node > .body.active .action-td .actionsBar .info > .tag:hover {
  opacity: 1;
}
.node > .body:hover .action-td .actionsBar .info > .tag i,
.node > .body.active .action-td .actionsBar .info > .tag i {
  opacity: 1;
}
.node > .body > .headline .info > .tag {
  visibility: hidden;
}
.node > .body > .headline > table {
  width: 100%;
}
.node > .body > .headline > table td {
  vertical-align: top;
  padding: 0;
}
.node > .body > .headline .bullet-td {
  width: 1em;
  text-align: center;
}
.node > .body > .headline .listType-td {
  width: 1px;
}
.node > .body > .headline .action-td {
  text-align: right;
  white-space: nowrap;
  padding-left: 1em;
  width: 1px;
}
.node > .body > .headline .action-td .icon-check-empty,
.node > .body > .headline .action-td .icon-star-empty {
  visibility: hidden;
}
.node > .body > .headline .title-td {
  word-break: break-word;
}
.node > .body > .headline .title-td .open {
  font-size: 80%;
  margin-left: 1em;
  text-decoration: none;
  opacity: .5;
  cursor: pointer;
}
.node > .body > .headline .title-td .open:hover {
  color: #00d0ff;
}
.node > .body .title:not(:focus):empty:before {
  content: "write something";
  opacity: 0.5;
}
.node > .body .notes {
  margin-left: .8em;
  padding-left: .5em;
  font-size: 80%;
  color: #666666;
}
.node > .body .notes > div:not(:focus):empty:before {
  content: "add some details";
  opacity: 0.5;
}
.node > div > div.children {
  margin-left: .5em;
  margin-bottom: .5em;
  padding-left: .5em;
  border-left: solid 1px #b3b3b3;
}
.headline .tag {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 80%;
  padding: 0 .4em;
  cursor: pointer;
}
#tagsMenu {
  box-shadow: 0px 0px 10px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: none;
  font-size: 90%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  overflow: hidden;
}
#tagsMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#tagsMenu li {
  cursor: pointer;
  padding: 0 .5em;
}
#tagsMenu li:first-child {
  padding-top: .1em;
}
#tagsMenu li:last-child {
  padding-bottom: .1em;
}
#tagsMenu li:hover {
  background-color: #00d0ff;
}
#tagsMenu input {
  padding: 0;
  outline: none;
  border: none;
  border-bottom: solid 1px #b3b3b3;
}
#tags .icon-pencil,
#tags .icon-trash,
#bookmarks .icon-star-half {
  float: right;
}
@media only screen and (max-width: 480px) {
  i[class^="icon-"] {
    font-size: 110%;
  }
  .actions {
    display: none!important;
  }
  .headline .open {
    display: none;
  }
  .headline .actionsBar .tag {
    padding: 0 0 0 .4em;
  }
  .headline .actionsBar .tag span {
    display: none;
  }
  .headline .actionsBar .icon-star-empty,
  .headline .actionsBar .icon-check-empty,
  .headline .actionsBar .info > .tag {
    visibility: visible!important;
  }
}
