/* https://kuler.adobe.com/#themeID/2369524 */
body {
  background-color: #e6e6e6;
  color: #333333;
  overflow: hidden;
}
a {
  color: #333333;
  text-decoration: underline;
}
a:hover {
  color: #00d0ff;
}
[contenteditable]:focus {
  outline: none;
}
.bullet,
i[class^="icon-"],
.addChild {
  cursor: pointer;
}
.bullet,
i[class^="icon-"] {
  opacity: 0.7;
}
.bullet:hover,
i[class^="icon-"]:hover {
  opacity: 1;
}
#fixedTopCentered {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
#fixedTopCentered .alert,
#fixedTopCentered .note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  padding: .5em;
  width: 600px;
  min-width: 200px;
  max-width: 80%;
  margin: 0 auto;
}
#fixedTopCentered .alert {
  background: #fc226f;
  color: #333333;
}
#fixedTopCentered .note {
  background: #00d0ff;
  color: #333333;
}
#fixedTopCentered .alert .icon-remove,
#fixedTopCentered .note .icon-remove {
  float: right;
}
#search,
#selectOptions {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  width: 800px;
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
  background: #ffffff;
  margin: .5em auto;
  overflow: hidden;
  position: relative;
  padding-bottom: .5em;
}
#search > div,
#selectOptions > div {
  padding: .5em 1em 0 1em;
}
#search > div input,
#selectOptions > div input {
  display: inline-block;
  padding: 0em 1em 0 1.5em;
  width: 100%;
  outline: none!important;
  border: none;
}
#search a,
#selectOptions a {
  text-decoration: none;
}
#selectOptions {
  background: #00d0ff;
}
#selectOptions > div {
  padding: .5em 1em 0 1em;
}
#selectOptions > div .options {
  float: right;
}
#search > div {
  /* switch the magnifying glass for a cross */

}
#search > div i {
  position: absolute;
  top: .5em;
}
#search > div .icon-search {
  left: 1em;
}
#search > div .icon-time {
  right: 1em;
}
#search > div .icon-star {
  right: 2.5em;
}
#search > div .icon-tags {
  right: 4em;
}
#search > div:hover .icon-search:before {
  content: "\f00d";
}
#search > ul {
  display: none;
  list-style-type: none;
  padding: 0 1em;
  margin: .5em 0 0 0;
}
#search > ul:empty:after {
  content: 'nothing to see here ...';
  opacity: 0.5;
}
#search > ul li {
  cursor: pointer;
}
#search > ul li:hover {
  color: #00d0ff;
}
#notebook {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  width: 800px;
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333333;
  margin: 3.3em auto 2em auto;
  min-height: 400px;
}
#notebook #topActions {
  margin-top: .5em;
  margin-right: 1em;
  margin-bottom: -0.5em;
  text-align: right;
}
#notebook #topActions i:before {
  margin-right: .2em;
}
#notebook #breadcrumbs {
  margin: 0 1em 0 1em;
  padding: 1em 0 .5em 0;
  border-bottom: solid 1px grey;
}
#notebook #breadcrumbs a,
#notebook #breadcrumbs a:visited,
#notebook #breadcrumbs a:active {
  text-decoration: none;
  color: #333333;
  opacity: 0.7;
}
#notebook #breadcrumbs a:hover {
  text-decoration: underline;
  opacity: 1;
}
#notebook #breadcrumbs .gt:first-child {
  display: none;
}
#notebook #sheet {
  padding: 1em;
}
#notebook #sheet .topNotes {
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-size: 100%;
}
#notebook #sheet .topChildren {
  margin-left: 0;
  margin-right: 0;
  border-left: none;
}
#notebook .addChild {
  opacity: 0.5;
}
#notebook .addChild:hover {
  opacity: 1;
}
#footer {
  width: 800px;
  min-width: 200px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 80%;
  margin-bottom: 1em;
}
#curtain {
  z-index: 999;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}
#curtain > div {
  position: relative;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  left: 50%;
}
.selectedMobile {
  display: none;
}
#tags .icon-pencil,
#tags .icon-trash,
#bookmarks .icon-star-half {
  float: right;
}
.node {
  margin-bottom: .5em;
}
.node .body:hover {
  background: #f2f2f2;
}
.node .body.active {
  background: #e6e6e6;
}
.node .body:hover .headline .action-td .icon-check-empty,
.node .body.active .headline .action-td .icon-check-empty,
.node .body:hover .headline .action-td .icon-tag.addTag,
.node .body.active .headline .action-td .icon-tag.addTag {
  visibility: visible;
}
.node .body:hover .headline .action-td .icon-time,
.node .body.active .headline .action-td .icon-time {
  display: inline;
}
.node .body:hover .headline .plus-td,
.node .body.active .headline .plus-td {
  opacity: 1;
}
.node .body .headline table {
  width: 100%;
}
.node .body .headline table td {
  vertical-align: top;
  padding: 0;
}
.node .body .headline table .bullet-td,
.node .body .headline table .plus-td {
  width: 1em;
  text-align: center;
}
.node .body .headline table .plus-td {
  opacity: 0;
  cursor: pointer;
}
.node .body .headline table .listType-td {
  width: 1px;
}
.node .body .headline table .action-td {
  text-align: right;
  white-space: nowrap;
  padding-left: 1em;
  width: 1px;
}
.node .body .headline table .action-td .icon-check-empty {
  visibility: hidden;
}
.node .body .headline table .action-td i {
  font-size: 80%;
  cursor: pointer;
}
.node .body .headline table .action-td i:before {
  margin-right: .2em;
}
.node .body .headline table .action-td .icon-time {
  display: none;
}
.node .body .headline table .action-td .icon-time[title^=in] {
  display: inline;
}
.node .body .headline table .action-td .icon-tag {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 .4em;
}
.node .body .headline table .action-td .icon-tag.addTag {
  visibility: hidden;
  padding: 0;
}
.node .body .headline table .action-td .icon-tag.addTag:before {
  margin-right: 0;
}
.node .body .headline table .title-td {
  word-break: break-word;
  padding-left: .5em;
}
.node .body .headline table .title:not(:focus):empty:before {
  content: "write something";
  opacity: 0.5;
}
.node .body .notes > div {
  font-size: 80%;
  padding-left: 1.3em;
  color: #666666;
}
.node .body .notes > div:not(:focus):empty:before {
  content: "add some details";
  opacity: 0.5;
}
.node > div.childrenOuter,
.node .notes {
  padding-top: .5em;
  margin-left: 1.5em;
  border-left: solid 1px #e5e5e5;
}
.node > div.childrenOuter .addChild,
.node .notes .addChild {
  font-size: 90%;
  margin-left: .3em;
}
.node .topNotes {
  border: none;
  margin-left: 0;
  padding-left: 0;
}
.node .topNotes > div {
  padding-left: 0;
}
.bullet {
  color: #333333;
  border-radius: .5em;
  background: transparent;
  width: 1em;
  text-align: center;
  height: 1em;
  display: inline-block;
  line-height: 1em;
}
.bullet:before {
  content: "•";
}
.bullet.full {
  background: #e5e5e5;
}
.bullet.full.open {
  background: #b3b3b3;
}
#tagsMenu {
  box-shadow: 0px 0px 10px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: none;
  font-size: 90%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  overflow: hidden;
}
#tagsMenu i {
  white-space: nowrap;
}
#tagsMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#tagsMenu li {
  cursor: pointer;
  padding: 0 .5em;
}
#tagsMenu li:first-child {
  padding-top: .1em;
}
#tagsMenu li:last-child {
  padding-bottom: .1em;
}
#tagsMenu li:hover {
  background-color: #00d0ff;
}
#tagsMenu input {
  padding: 0;
  outline: none;
  border: none;
  border-bottom: solid 1px #b3b3b3;
}
@media only screen and (max-width: 480px) {
  i[class^="icon-"] {
    font-size: 110%;
  }
  .node .body .headline .open {
    display: none;
  }
  .node .body .headline table td.action-td .info i.icon-time {
    display: none;
  }
  .node .body .headline table td.action-td .info i.icon-time[title^=in] {
    display: inline-block;
    overflow: hidden;
    max-width: 1em;
  }
  .node .body .headline .actionsBar .icon-tag.addTag {
    display: none;
  }
  .node .body .headline .actionsBar i.icon-check-empty {
    visibility: visible;
  }
  .node .body .headline .plus-td {
    display: none;
  }
  #selectOptions {
    font-size: 150%;
  }
  #selectOptions .selectedDesktop {
    display: none;
  }
  #selectOptions .selectedMobile {
    display: inline-block;
  }
  #tagsMenu {
    top: 20%!important;
    left: 50%!important;
    margin-left: -100px !important;
    box-shadow: 0 0 50px #888888;
  }
}
