body {
  background-color: #dfdfdf;
  color: #222222;
}
[contenteditable]:focus {
  outline: none;
}
.bullet,
i[class^="icon-"],
#addChild {
  cursor: pointer;
}
#notebook {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  background-color: #eeeeee;
  color: #222222;
  margin: 20px auto;
  width: 800px;
  min-height: 600px;
}
#notebook #breadcrumbs {
  margin: 0 1em 0 1em;
  padding: 1em 0 .5em 0;
  border-bottom: solid 1px grey;
}
#notebook #breadcrumbs a,
#notebook #breadcrumbs a:visited,
#notebook #breadcrumbs a:active {
  text-decoration: none;
  color: #222222;
}
#notebook #breadcrumbs a:hover {
  color: #444444;
  text-decoration: underline;
}
#notebook #breadcrumbs .gt:first-child {
  display: none;
}
#notebook #sheet {
  padding: 1em;
}
#notebook #sheet #topNotes {
  margin-bottom: 1em;
}
#notebook #sheet #topChildren {
  margin-left: 0;
  margin-right: 0;
  border-left: none;
}
#notebook #addChild {
  opacity: 0.5;
}
#notebook #addChild:hover {
  opacity: 1;
}
.context-menu {
  font-size: 80%;
}
.context-menu hr {
  margin: 0;
  height: 0;
  border: none;
  border-top: solid 1px;
}
.node > .body > .headline > table {
  width: 100%;
}
.node > .body > .headline > table td {
  vertical-align: top;
  padding: 0;
}
.node > .body > .headline .bullet-td {
  width: 1em;
}
.node > .body > .headline .listType-td {
  width: 1px;
}
.node > .body > .headline .action-td {
  text-align: right;
  white-space: nowrap;
  padding-left: 1em;
  width: 1px;
}
.node > .body > .headline .action-td .info,
.node > .body > .headline .action-td .actions,
.node > .body > .headline .action-td .icon-check-empty {
  display: none;
}
.node > .body > .headline .title-td {
  word-break: break-word;
}
.node > .body > .headline:hover .info,
.node > .body > .headline:hover .actions,
.node > .body > .headline:hover .icon-check-empty {
  display: inline-block;
}
.node > .body .title:not(:focus):empty:before {
  content: "write something";
  opacity: 0.5;
}
.node > .body .notes:not(:focus):empty:before {
  content: "add some details";
  opacity: 0.5;
}
.node > .body > .notes {
  margin-left: .5em;
  padding-left: .5em;
  font-size: 80%;
  color: #a2a2a2;
}
.node > div > div.children {
  margin-left: .5em;
  padding-left: .5em;
  border-left: solid 1px #dddddd;
}
